.pillars {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }
  
  .text {
    border: 10px solid #222200;
    border-radius: 10px;
    width: 25%;
    position: relative;
    float: left;
    text-align: center;
  }

.column {
    flex: 25%;
    max-width: 25%;
    margin: 10px;
}

.column img {
    margin-top: 10px;
    vertical-align: middle;
    border-radius: 15px;
}

body {
    background-color: #B2C2F6;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 44%;
        min-width: 25%;
        flex-shrink: 2;
        flex-wrap: wrap;
      }
      .column img {
          flex-wrap: wrap;
          max-width: 80%;
          box-sizing: border-box;
          width: 400px;
          position: relative;
          margin: 0;
          padding: 0;
      }
      div.text {
          position: relative;
          display: flex;
          align-items: stretch;
          flex: 100%;
          max-width: 800px;
          min-width: 100%;
          box-sizing: border-box;
      }    
      body {
          background-color: red;
      }
  }
  